/* Centratura della sfera di particelle */
.particle-container {
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  /* Adattamento specifico per schermi piccoli */
  @media (max-width: 768px) {
    .particle-container {
      width: 50wv;
      height: 50vh;
      margin: 0 auto;
    }
  }
  