/* App.css */

/* Stile generale per schermi di grandi dimensioni */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  overflow-y: auto; /* Permetti lo scrolling verticale se necessario */
}

h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 10px; /* Riduci lo spazio sotto il titolo */
  font-family: 'Nunito Sans', sans-serif;
  padding : 0;
}

/* Correzioni per il body */
body {
  background-color: #000;
  color: white;
  margin: 0; /* Rimuovi il margine predefinito */
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  overflow-y: auto; /* Permetti lo scrolling verticale se necessario */
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

p{
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}
